body {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
  width: 100%;
  height: 70px;
  background-color: #311d4d;
  display: flex;
  align-items: center;
}

.nav__options {
  width: 100%;
  color: #fff;
  list-style: none;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  gap: 20px;
}

.list__item {
  position: relative;
}

.dropdown {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  display: none;
  background-color: #311d4d;
}

.dropdown__item {
  margin-bottom: 5px;
}

.list__item:hover ul {
  display: block;
}

.pointer {
  cursor: pointer;
}

.link {
  color: #fff;
  text-decoration: none;
}
